<mat-card class="caution-card" [ngStyle]="{'background-color': getColour(), 'display': getHidden()}">
    <mat-card-header>
        <div mat-card-avatar class="caution-header-image"></div>
        
        <mat-card-title>{{ notificationStatus }}</mat-card-title>

        <mat-card-subtitle>
            <div class='caution-content'>
                This application only works on Chromium 89.X.XXXX.XX+ based browsers as it uses experimental browser technologies
                (<a target="_blank" href="https://webbluetoothcg.github.io/web-bluetooth/">Web Bluetooth</a> & 
                <a target="_blank" href="https://bugs.chromium.org/p/chromium/issues/detail?id=1043300">Web Serial</a>).
            </div>
            <strong>{{ versionText }}</strong>
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>
