<app-caution-header></app-caution-header>

<div class="card-container">
  <mat-card class="card">
  
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>AirReps Firmware Flasher</mat-card-title>
      <mat-card-subtitle>This app is only compatible with Airoha based products</mat-card-subtitle>
    </mat-card-header>
  
    <img mat-card-image src="../../assets/airreps-headset.png" alt="AirReps Logo">
    
    <app-notification [statusConsumer]="connectedStatus"></app-notification>
    
    <mat-card-actions [ngStyle]="{'display': getHidden()}">
      <button (click)="connectionButton()" mat-raised-button color=primary [disabled]="!serialAvailable">
        {{ connectedStatus ? "Disconnect" : "Connect To Device" }}
      </button>
      <button (click)="getDeviceInformation()" mat-button [disabled]="!connectedStatus">
        Get device info
      </button>
    </mat-card-actions>
  
  </mat-card>
</div>
