.card-container {
    padding: 3%;
    display: flex;
    flex-direction: row;

    .card {
        min-width: 450px;
        min-height: 400px;
    }

    .header-image {
        background-image: url("../../assets/airreps-headset.png");
        background-size: cover;
    }

    .terminal-container {
        margin: 0 3%;
        padding: 1%;
        min-width: 750px;
        min-height: 400px;
        background-color: #424242;
        border-radius: 4px;
    }

    @media screen and (max-width: 1360px) {
        .terminal-container {
            display: none;
        }
    }
}

