.card-container {
    padding: 3%;

    .card {
        height: 25%;
        width: 35%;
    }

    .header-image {
        background-image: url("../../assets/airreps-headset.png");
        background-size: cover;
    }

}

